* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr {
  display: block;
  width: 150px;
  max-width: 100%;
  margin: 3rem auto;
}

.qr-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.qr-nav > li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  text-decoration: dotted;
  border-bottom: 1px dashed;
}

.choices__inner {
  background-color: #fff;
}

input:invalid:first-of-type,
select:invalid:first-of-type {
  box-shadow: 0px 0px 3px 0px #ff0000;
}

input:valid,
select:valid {
  box-shadow: 0px 0px 3px 0px #18d930;
}

input:optional,
select:optional {
  box-shadow: none;
}

.not-checked .check-icon {
  display: none;
}
