* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 3rem auto;
}

.qr-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.qr-nav > li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 2rem;
  cursor: pointer;
  text-decoration: dotted;
  border-bottom: 1px dashed;
}
